<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
  </head>

  <body>
    <h1>
      Positions
    </h1>

    <ul>
      <% @team_data[0].each do |pos, player| %>
        <li><a href="/positions/<%= pos %>"><%= pos %></li>
        <% end %>
    </ul>
  </body>
</html>
